.editmode {
  border-width: 3px;
  border-style: dashed;
  border-color: red;
  margin-right: 3px;
  margin-left: 3px;
  position: relative;
}
.editmode-new {
  border-width: 3px;
  border-style: dashed;
  border-color: red;
  margin-right: 3px;
  margin-left: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.editmode-bar {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.editmode-text {
  border-width: 3px;
  border-style: dashed;
  border-color: red;
  cursor: hand;
}

.editmode-img {
  border-width: 3px;
  border-style: dashed;
  border-color: red;
  position: relative;
}

.editmode-upload-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}