pname: Deploy to Droplet

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: monexup.com:22
        username: root
        key: ${{ secrets.DIGITAL_OCEAN_PPK }}
        script: |
          cd ~/MonexUp
          git pull origin main
          cd ~/MonexUp/Backend/MonexUp
          docker build -t monexup-api -f MonexUp.API/Dockerfile .
          docker run --name monexup-api1 -p 8080:443 -e ASPNETCORE_URLS="https://+" -e ASPNETCORE_HTTPS_PORTS=8080 --network docker-network monexup-api &
